@font-face {
  font-family: 'Tungsten';
  src: url('fonts/Tungsten-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DINNext';
  src: url('fonts/DINNext-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

body {
  background-image: url('images/background.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* .no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
} */

/* Scrollbar Width */
::-webkit-scrollbar {
  margin-right: 10px;
  width: 10px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
  box-shadow: inset 0 0 10px 10px transparent; /* light gray is good */
  border: solid 3px transparent;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
  box-shadow: inset 0 0 10px 10px transparent;
  border: solid 3px transparent;
}

/* Scrollbar Handle on Hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
