@font-face {
  font-family: 'Tungsten';
  src: url('fonts/Tungsten-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DINNext';
  src: url('fonts/DINNext-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --darkest: 17 24 39; /* gray-900 */
  --darker: 55 65 81; /* gray-700 */
  --dark: 107 114 128; /* gray-500 */
  --light: 156 163 175; /* gray-400 */
  --lighter: 209 213 219; /* gray-300 */
  --lightest: 243 244 246; /* gray-100 */
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

body {
  background-image: url('images/background.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Scrollbar Width */
::-webkit-scrollbar {
  margin-right: 10px;
  width: 10px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
  box-shadow: inset 0 0 10px 10px transparent; /* light gray is good */
  border: solid 3px transparent;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
  box-shadow: inset 0 0 10px 10px transparent;
  border: solid 3px transparent;
}

/* Scrollbar Handle on Hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
